@import-normalize;
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
  gap: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#root {
  height: 100%;
}

#navContainer {
  max-width: 100%;
  padding: 0;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav {
  gap: 10px;
  flex-direction: row;
  margin-left: 20px;
}

.dropdown-menu[data-bs-popper] {
  top: 36px;
}

.page-content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 100vh;
}

.contacts-title {
  display: inline-block;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .contacts-content {
    flex-direction: row;
  }
}

.contacts-form,
.contacts-list {
  max-width: 400px;
  width: 100%
}

.form-control {
  max-width: 400px;
}
