.ListWrap {
  position: relative;
  height: 300px;
  overflow: auto;
}

/* Стили для полосы прокрутки */
.ListWrap::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

/* Стили для ползунка прокрутки */
.ListWrap::-webkit-scrollbar-thumb {
  background-color: var(--bs-border-color);
  border-radius: 6px;
}

/* Стили для ползунка прокрутки при наведении */
.ListWrap::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Стили для трека прокрутки */
.ListWrap::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Стили для трека прокрутки при наведении */
.ListWrap::-webkit-scrollbar-track:hover {
  background-color: #ccc;
}
